a, a:visited,a:hover,a:focus,a:active {
  text-decoration: none;
  color: #4E9A06;
}

a img {
  border: none;
}

html, body {
  -webkit-text-size-adjust: none;
  background-color: #EFEFEF;
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  color: #3E3E3E; 
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  /* position: relative; */
  overflow: hidden;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.3em 0 0.5em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

.tinyText {
  font-size: x-small;
}

.smallTitle {
  font-size: small;
}

.errorRed {
  color: #ef2929; 
  font-size: x-small;
}

.errorOrange {
  color: #f57900;
  font-size: x-small;
}

.bikeRed {
  color: #ef2929;
  font-size: small
}

.bikeOrange {
  color: #f57900;
  font-size: small
}

p.error{
  color: #ef2929;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th
{
  border: 0;
}

ul {
  list-style-type: circle;
}
#licences {
  z-index: 10000;
  position: absolute;
  bottom: 1px;
  right: 1em;
  color: black;
  opacity: 0.5;
  font-size: 10px;
}

#licences a {
  color: black !important;
  text-decoration: none !important;
}

#main {
  height: 100%;
}

div#footer {
}

#panel-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 45px;
  left: 20em;
  z-index: 10002;
  background: transparent url('/static/img/panel-toggler.png') no-repeat left top;
  cursor: pointer;
}

#panel-toggle.hidden{
  background-image: url('/static/img/panel-toggler-hidden.png');
}

#left-panel {
  background-color: #EFEFEF;
  width: 20em;
  float: left;
  overflow: auto;
  height: 100%;
  border-right: 1px solid #B5B5B5;
  -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  z-index: 10001;
  position: absolute;
}
#left-panel > div.wrapper{
  padding: 1px 2px 1px 5px;
}
#right-panel{
  margin-left: 20em;
  height: 100%;
}
#map{
  width: 100%;
  height: 100%;
}
#bikes{
  color: #423535;
}
#mumoro_form, #info{
  padding: 5px 3px 5px 5px;
  margin: 0 -2px 10px -5px;
  background-color: #FFFFFF;
  border-top: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
}
#mumoro_form input[type=text],
#mumoro_form textarea{
  width: 90%;
}
#mumoro_form form > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#mumoro_form form > ul > li{
  padding: 0;
  margin: 0.1em 0 0.1em 0;
  display: block;
}
#AnyTime--datepicker{
  z-index: 99999;
}
/* Generic context menu styles */
.contextMenu {
  position: absolute;
  z-index: 99999;
  border: solid 1px #CCC;
  background: #EEE;
  padding: 0px;
  margin: 0px;
  display: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}


.contextMenu ul {
  padding: 0;
  margin: 0;
}

.contextMenu li {
  list-style: none;
  margin: 0px;
}

.contextMenu a {
  color: #333;
  text-decoration: none;
  line-height: 20px;
  height: 20px;
  outline: none;
  padding: 2px 5px;
  display: block;
}

.contextMenu li.hover a {
  color: #AAA;
  background-color: #3399FF;
}

.contextMenu li.disabled a {
  color: #AAA;
  cursor: default;
}

.contextMenu li.hover.disabled a {
  background-color: transparent;
}

.contextMenu li.separator {
  border-top: solid 1px #CCC;
}

.olControlLayerSwitcher .layersDiv {
  background-color: black;
}
div#info{
  padding-top: 0;
  border-top: 0;
}
div#info h2{
    background: none repeat scroll 0 0 #8AE234;
    border-bottom: 2px solid #4E9A06;
    border-top: 2px solid #4E9A06;
    color: white;
    font-weight: bold;
    margin: 0 -3px 0 -4px;
    padding: 5px;
    text-align: center;
}

#path_costs{
  margin: 0.3em -3px 0 -4px;
}

div#info table{
  border-collapse: separate;
  border-spacing: 0 2px;
}

div#info table img{
  margin-right: 4px;
}

div#info table td{
  padding: 5px;
  margin: 2px 0;
}
div#info table tr.selected td{
  background-color: #fff392;
}

div#info table tr:hover td{
  background-color: #fff392;
  cursor: pointer;
}
div.bus-popup h2 img{
  vertical-align: middle;
  margin-right: 1ex;
}

div.bus-popup p,
div.bike-popup p{
  margin: 0.2em 0;
  padding: 0;
}

div.bus-popup span.departure,
div.bike-popup span.departure{
  color: #4e9a06;
  font-weight: bold;
}
div.bus-popup span.arrival,
div.bike-popup span.arrival{
  color: #cc0000;
  font-weight: bold;
}

div#info-page{
  max-width: 950px;
  margin: 0 auto;
  padding: 3px;
}

body.iphone.landscape #map{
  height: 276px;
  top: 0;
}
body.iphone.portrait #map{
  height: 416px;
  top: 0;
}

body.iphone #left-panel {
  width: 20em;
  overflow: visible;
  height: auto;
  border-right: 1px solid #B5B5B5;
  -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  z-index: 10001;
}

div.olPopup{
  opacity: 0.85;
}