CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
tools/osm2mumoro
lib/libshortestpath.a
ui/gui/moc_object.cxx
ui/gui/mumoro
*.o
*.pyc
cherrypy.config
openlayers/build/OpenLayers.js
*.dump
build/
env/
dist/
*.sqlite
*.zip
*.osm
*.bz2
temp_ways
Mumoro.egg-info/
distribute-*
lib/core/_mumoro.so
lib/core/mumoro.py
lib/core/mumoro_wrap.cpp
