<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
	  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-Type" 
	  content="text/html; charset=utf-8" /> 
    <meta name="viewport" 
	  content="initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>Mumoro Rennes</title>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ?"https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost +"google-analytics.com/ga.js'type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-407886-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>       
    <script src="/openlayers/OpenLayers.js" type="text/javascript"/>
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js" 
	    type="text/javascript"/>
    <script type="text/javascript" src="/scripts/cloudmade.js"/>
    <script src="/scripts/jquery-1.4.2.min.js" type="text/javascript"/>
    <script src="/scripts/jquery.contextMenu.js" type="text/javascript"/>
    <script src="/scripts/jquery.tablesorter.js"
            type="text/javascript"/>
    <script type="text/javascript" src="/scripts/anytimec.js"/>
    <script type="text/javascript">
      $(function(){
        $.mumoro = new Mumoro($lonStart, $latStart,
                   $lonDest, $latDest,
                   $fromHash,
                   "$hashUrl",
                   $layers);
      });
    </script>
    <script src="/scripts/mumoro.js" type="text/javascript"/>
    <link rel="icon" type="image/png" href="/img/arrow.png" />
    <link rel="stylesheet" type="text/css" href="css/anytimec.css" />
    <link rel="stylesheet" media="screen" type="text/css"
	  title="Design" href="design.css" /> 
    <link rel="stylesheet" media="all and (max-device-width: 480px)" href="/css/iphone.css"/> 
  </head>
  
  <body>
    <div id="main">
      <div id="left-panel">
	<div class="wrapper">
          <h1>Mumoro Rennes</h1>
          <h2>Multimodal and multiobjective routing <a href="/info">Read more here</a></h2>
	  
          <div id="mumoro_form">
            <form method="get" action="javascript:$.mumoro.validateAddresses();">
	      <ul>
		<li>
		  <label for="time">Heure du départ</label>
		  <input name="time" id="datepicker" type="datetime" value="$date"/>
		  <script type="text/javascript">
		    AnyTime.picker( "datepicker", { format: "%e/%m/%Y %H:%i",
		    firstDOW: 1 } );
		  </script>
		</li>
		<li>
		  <label for="startAdr">Départ</label>
		  <span id="formError_start"></span>
		  <br/>           
		  <input type="text" name="startAdr" id="startAdr" value="$addressStart"/>
		  <a id="startGeo" style="display:none;" href="#">Ma position</a>
		</li>
		<li>
		  <label for="endAdr">Destination</label>
		  <span id="formError_dest"></span>
		  <br/>
		  <input type="text" name="endAdr" id="endAdr" value="$addressDest"/>
		  <a id="destGeo" style="display:none;" href="#">Ma
		  position</a>
		  <br/>
		  <span class="tinyText">Example : « 23 rue de la
		  Chalotais 35000 Rennes France »</span>
		</li>
		<li>
		  <input type="button" value="Trajet retour" onclick="$.mumoro.reverseLocations()"/>
		  <input type="submit" value="Itinéraires"/>
		</li>
	      </ul>
            </form>
          </div>
          <div id="info">
            <p id="path_costs"></p>
            <!-- <p id="routing_description"></p> -->
            <p id="hash_url"></p>
          </div>
	</div>
      </div>
      <div id="right-panel">
        <div id="map">
          <div id="licences">
            <a href="http://www.openstreetmap.org/">Openstreetmap</a>
            (<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC
              by-sa</a>) |
	    <a href="http://www.data.rennes-metropole.fr/fr/lentrepot/licence-dutilisation.html">Entrepôt de
              données publiques de Rennes et Rennes Métropole</a>
            (<a href="http://www.data.rennes-metropole.fr/fr/lentrepot/licence-dutilisation.html">licence</a>) | 
	    <a href="https://github.com/Tristramg/mumoro">Routing
	      algorithms</a> (<a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>)
          </div>
	</div>
      </div>        
    </div>
    <ul id="myMenu" class="contextMenu"> 
      <li class="start"><a href="#start">Set Start</a></li> 
      <li class="dest"><a href="#dest">Set Destination</a></li> 
    </ul>
  </body>
</html>
