<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
	  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" 
	  content="text/html; charset=utf-8"/>        
    <meta name="viewport" 
	  content="initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" media="screen" type="text/css"
    title="Design" href="/design.css" />
    <link rel="stylesheet" media="all and (max-device-width: 480px)" href="/css/iphone.css"/> 
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <!-- <script type="text/javascript"> -->
    <!--   var gaJsHost = (("https:" == document.location.protocol) ?"https://ssl." : "http://www."); -->
    <!--   document.write(unescape("%3Cscript src='" + gaJsHost +"google-analytics.com/ga.js'type='text/javascript'%3E%3C/script%3E")); -->
    <!-- </script> -->
    <!-- <script type="text/javascript"> -->
    <!--   try { -->
    <!--   var pageTracker = _gat._getTracker("UA-407886-3"); -->
    <!--   pageTracker._trackPageview(); -->
    <!--   } catch(err) {} -->
    <!-- </script> -->
    <title></title>
  </head>
  <body>
    <div id="info-page">
      <h1><a href="/"><img src="/img/logo-s.png" /></a></h1>
      <h2>À propos du service Mobi’Rennes</h2>
      <p>
	Mobi’Rennes est un service de calcul d’itinéraires multimodaux
	en transports écoresponsables, destiné à toute personne
	désireuse de se déplacer rapidement et proprement dans
	l’agglomération Rennaise. Pour cela, Mobi’Rennes propose
	à l’usager une sélection d'itinéraires efficaces répondant
	à son souhait de voyage, en combinant au besoin tous les modes
	de transports publics proposés par la métropole, ainsi que la
	marche à pieds. L'approche multimodale et multiobjectif du
	déplacement permet à Mobi’Rennes de proposer des itinéraires
	plus rapides et plus variés que les systèmes
	traditionnels.<br /> Pour l’utiliser, il suffit de se rendre
	sur <a href="/">la page d’accueil</a>, puis d’y placer le lieu
	de départ et celui d’arrivée, directement sur la carte, pour
	obtenir instantanément des propositions d’itinéraires
	performants. En révélant tout le potentiel de combinaison des
	transports publics, Mobi’Rennes offre un service opérationnel
	d’aide à l’écomobilité sur le territoire de Rennes Métropole.
      </p>
      <ul>
	<li><p> Mobi’Rennes vous est proposé
	    par <a href="http://www.demotera.com">Demotera</a>,
	    société Rennaise éditrice du logiciel en ligne de gestion
	    de projet et de
	    collaboration <a href="http://www.atikteam.com">
	    AtikTeam</a>.
	</p></li>
	<li><p> Le moteur de calcul d’itinéraire vous est proposé par
	    Tristram Gräbener et fait suite à son exceptionnel travail
	    de thèse, que vous pouvez consulter en téléchargeant son
	    mémoire <a href="http://dl.demotera.com/these_graebener.pdf">
	    ici</a>.
	</p></li>
	<li><p> Les données pour les transports publics ainsi que
	    pour <em>Le vélo STAR</em> sont fournies par
	    <a href="http://data.keolis-rennes.com">
	      <em>Data Keolis Rennes</em>, et datent du 18 janvier
	      2011.</a>
	</p></li>
	<li><p> 
	    Les données cartographiques et le module de visualisation
	    sont fournis par
	    <a href="http://www.openstreetmap.org/">Open Street Maps</a>
	    et <a href="http://www.openlayers.org/">Open Layers</a>.
	</p></li>
	<li><p>
	    Le code source du projet, en GPLv3, se trouve sur 
	    <a href="http://github.com/demotera/mobirennes">le dépôt GitHub
	      de Mobi’Rennes</a>. C’est également sur ce dépôt que nous vous
	    invitons à déposer vos remarques et suggestions.
	</p></li>
      </ul>

      <p><em>Les itinéraires de Mobi’Rennes sont des suggestions. En
      aucun cas la responsabilité des auteurs ne pourra être engagée
      suite à l’utilisation d'un itinéraire de Mobi’Rennes. En
      particulier, les utilisateurs sont invités à respecter
      prioritairement le code de la route et toutes les règles
      usuelles lors de leurs déplacements.</em></p>
      
      <p><a href="/">Revenir sur la carte</a>  </p>
      
      
      <div id="footer">
	<hr/>
	<a href="http://www.openstreetmap.org/">Openstreetmap</a>
	(<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC
          by-sa</a>) |
	<a href="http://www.data.rennes-metropole.fr/fr/lentrepot/licence-dutilisation.html">Entrepôt de
          données publiques de Rennes et Rennes Métropole</a>
	(<a href="http://www.data.rennes-metropole.fr/fr/lentrepot/licence-dutilisation.html">licence</a>) | 
	<a href="https://github.com/Tristramg/mumoro">Routing
	  algorithms</a> (<a href="http://www.gnu.org/licenses/gpl.html">GPLv3</a>)
      </div>
    </div>
  </body>
</html>
