#left-panel{
  overflow: scroll;
  /* margin-left: -20em; */
}

#left-panel > h1{
  float: left;
  width: 51%;
}
#left-panel > h2{
  width: 46%;
  font-size: 0.9em;
  margin-left: 53%;
}
#left-panel > h1 img{
  width: 100%;
}
#mumoro_form{
  clear: both;
}
#licences {
  font-size: 8px;
}
